<h1>Welcome</h1>
<p>Welcome to GrouchSMS, your personal infomation assistant. Tell Grouch what you want to know and it'll text you when you need to know it!</p>

<% if user_signed_in? %>
  <button id="authbtn" class="btn btn-default" value="calauth">Auth Google Calendar</button>
  <script type="text/javascript">
    $(document).ready(function(){
        bind_authclick();
        get_location();
        });

function bind_authclick(){
  $('#authbtn').on('click', function(){
        auth();
      });
}

function get_location(){
  navigator.geolocation.getCurrentPosition(function(position){
      var lat = position.coords.latitude;
      var lon = position.coords.longitude;
      
      var model = {
        longitude: lon,
        latitude: lat,
        user_id: <%= current_user.id %>
      };

      $.ajax({
        url: '/users/update_location?&authenticity_token=' + AUTH_TOKEN,
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(model),
        success: function(){
        },
        error: function() {
        }
        });
    });
}

function auth(){
  var config ={
    'client_id': '666739325838-ismugg1ag4s3j0aniv04q1nn0hfopc92.apps.googleusercontent.com',
    'scope': 'https://www.googleapis.com/auth/calendar.readonly'
  };
  gapi.auth.authorize(config, function(){
      var auth = gapi.auth.getToken();

      var model = {
        user_id:  <%= current_user.id %>,
        accesstoken: auth['access_token']
     };

      $.ajax({
          url: '/users/update_authtoken?&authenticity_token=' + AUTH_TOKEN,
          type: "POST",
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify(model),
          success: function(){

          },
          error: function(){
            
          }
        });
      });
}
</script>
<% end %>
